@import '~@angular/material/theming';
@import './component-themes';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme
$stations-app-primary: mat-palette($mat-indigo);
$stations-app-secondary: mat-palette($mat-indigo, 100);
$stations-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$stations-app-theme:   mat-light-theme((
  color: (
    primary: $stations-app-primary,
    accent: $stations-app-accent,
  )
));

// Include the default theme styles (color and default density)
@include angular-material-theme($stations-app-theme);
@include component-themes($stations-app-theme);

// Define an alternate dark theme
$dark-primary: mat-palette($mat-indigo);
$dark-secondary: mat-palette($mat-indigo, 100);
$dark-accent:  mat-palette($mat-green, 200, 400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));

// Include the dark color styles inside of a block with a CSS class
.dark-theme {
  @include angular-material-color($dark-theme);
  @include component-themes($dark-theme);
}
