
<header>
  <h1>Stations.ie</h1>
  <h5>Select your station...</h5>
</header>

<div class="station-selects">

  <stations-select
    icon="rail"
    title="Rail Station"
    [stationsList]="irishRailStationsList"
    (changeStation)="fetchIrishRailStationJourneys($event)">
  </stations-select>

  <stations-select
    icon="bus"
    title="Availabe Soon"
    [stationsList]=""
    (changeStation)="fetchIrishRailStationJourneys($event)">
  </stations-select>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-card *ngIf="selectedStation && irishRailStationJourneysList" class="tables" [class.loading-fix]="!loading">
  <journey-list
    [selectedStation]="selectedStation"
    [journeysList]="irishRailStationJourneysList"
    (refreshJourneys)="fetchIrishRailStationJourneys($event)">
  </journey-list>
</mat-card>

<mat-card *ngIf="error">
  <mat-card-content>
    <p>{{ error.statusText }}</p>
    <p>{{ error.status }}</p>
  </mat-card-content>
</mat-card>
  