// @import '~@angular/material/theming';

header {
  margin-top: 17%;
  padding: 0 2rem;
  text-align: center;

  h1 {
    margin-left: 26px;
    font-weight: 300;

    &::after {
      content: " beta";
      color: #aaa;
      font-style: italic;
      font-size: .825rem;
    }
  }
}

.station-selects {
  max-width: 30rem;
  padding: 0 1.5rem;
  margin: auto;
}

.loading-fix {
  margin-top: 9px;
}

@mixin stations-view-theme($theme) {
}
