.footer-info {
  margin-top: 3rem;
  padding: 1rem;
  color: #aaa;
  font-style: italic;
  font-size: .825rem;
  text-align: center;

  .policy {
    padding-right: .5rem;
    padding-left: .5rem;
  }
}