<main>
  <router-outlet></router-outlet>
</main>

<footer class="footer-info">
  <p><a routerLink="/privacy-policy">Privacy Policy</a></p>
  <p class="beta-statement">This app is in Beta meaning that some features are not yet implemented and that some might not work as expected.</p>
  <p class="association-info">
    Train data is provided by Irish Rail.<br/>
    Stations.ie has no association with Irish Rail or any of its partners.
  </p>
  <p class="data-info">We do not collect any data from you. We may start collecting some analytics data in the future</p>
  <p class="data-info">If you have suggestions or comments, email: info@stations.ie</p>
  <p class="data-info">Being developed by <a href="https://www.sebastiankulig.com" target="_blank">Sebastian Kulig</a></p>
</footer>