<main>

  <header>
    <h1>Stations.ie</h1>
    <h5>Select your station...</h5>
  </header>

  <div class="station-selects">

    <mat-form-field class="rail-select" appearance="outline">
      <mat-select
        placeholder="Rail Station"
        name="railStation"
        [(ngModel)]="selectedStation"
        (selectionChange)="fetchStationData($event.value)">

        <mat-option *ngFor="let railStation of railStationsList" [value]="railStation.StationCode">
          {{railStation.StationDesc}} ({{railStation.StationCode}})
        </mat-option>
      </mat-select>
      <mat-label style="position:relative;top:-20px;"><mat-icon svgIcon="rail" style="font-size: 2.25rem;position:relative;top:13px;"></mat-icon>&nbsp;&nbsp;<i>Rail Station</i></mat-label>
    </mat-form-field>

    <mat-form-field class="bus-select" appearance="outline">
      <mat-select
        name="busStation"
        disabled>
        <mat-option *ngFor="let railStation of railStationsList" [value]="railStation.StationCode">
          {{railStation.StationDesc}} ({{railStation.StationCode}})
        </mat-option>
      </mat-select>
      <mat-label style="position:relative;top:-20px;"><mat-icon svgIcon="bus" style="font-size:2.25rem;position:relative;top:13px;"></mat-icon>&nbsp;&nbsp;<i>Available Soon</i></mat-label>
    </mat-form-field>
  </div>
  

  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <mat-card *ngIf="railStationData.length > 0 && !notFound" class="tables" [class.loading-fix]="!loading">
    <div class="card-header">
      <h2>{{railStationData[0].Stationfullname}}</h2>
      <button mat-flat-button (click)="fetchStationData(selectedStation)">
        Refresh
      </button>
    </div>
    <mat-card-content>
      <table mat-table [dataSource]="railStationData">
        <ng-container matColumnDef="destination">
          <th mat-header-cell *matHeaderCellDef> DEST </th>
          <td mat-cell *matCellDef="let row"> {{row.Destination}} </td>
        </ng-container>
        <ng-container matColumnDef="origin">
          <th mat-header-cell *matHeaderCellDef> ORIGIN </th>
          <td mat-cell *matCellDef="let row"> {{row.Origin}} </td>
        </ng-container>
        <ng-container matColumnDef="scharrival">
          <th mat-header-cell *matHeaderCellDef> SCHEDULED </th>
          <td mat-cell *matCellDef="let row"> {{row.Scharrival}} </td>
        </ng-container>
        <ng-container matColumnDef="late">
          <th mat-header-cell *matHeaderCellDef> LATE </th>
          <td mat-cell *matCellDef="let row"> {{row.Late}} min.</td>
        </ng-container>
        <ng-container matColumnDef="exparrival">
          <th mat-header-cell *matHeaderCellDef> ETA </th>
          <td mat-cell *matCellDef="let row"> {{row.Exparrival}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="notFound" [class.loading-fix]="!loading">
    <mat-card-content>
      No trains are due to serve this station in the next 90 minutes
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="offline" [class.loading-fix]="!loading">
    <mat-card-content>
      Can't connect to our server. Please check your internet connection or try again later.
    </mat-card-content>
  </mat-card>

  <div class="footer-info">
    <p class="beta-statement">This app is in Beta meaning that some features are not yet implemented and that some might not work as expected.</p>
    <p class="association-info">
      Train data is provided by Irish Rail.<br/>
      Stations.ie has no association with Irish Rail or any of its partners.
    </p>
    <p class="data-info">We do not collect any data from you. We may start collecting some analytics data in the future</p>
    <p class="data-info">If you have suggestions or comments, email: info@stations.ie</p>
    <p class="data-info">Being developed by <a href="https://www.sebastiankulig.com" target="_blank">Sebastian Kulig</a></p>
  </div>
</main>