th.mat-header-cell,
td.mat-cell,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-left: .5rem;
  padding-right: .5rem;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #eee;
  margin: 2rem 1rem;
}

.mat-card.tables {
  padding-left: 0;
  padding-right: 0;
}

.mat-table {
  width: 100%;
}

.card-header {
  max-width: 10rem;
  margin: 1.5rem auto;
  text-align: center;
}

.destination-text-container {
  margin: 1rem;
  .destination {
    font-weight: 500;
  }
}
