header {
  margin-top: 17%;
  padding: 0 2rem;
  text-align: center;
}

header h1 {
  margin-left: 26px;
  font-weight: 300;
}

header h1::after {
  content: " beta";
  color: #aaa;
  font-style: italic;
  font-size: .825rem;
}

.mat-form-field {
  
}
.station-selects {
  max-width: 30rem;
  padding: 0 1.5rem;
  margin: auto;
}
.mat-form-field {
  display: block;
  
}




th.mat-header-cell,
td.mat-cell,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-left: .5rem;
  padding-right: .5rem;
}


th.mat-header-cell:nth-of-type(odd),
td.mat-cell:nth-of-type(odd) {
  background-color: #eee;
}

.mat-card.tables {
  padding-left: 0;
  padding-right: 0;
}

.mat-table {
  margin: auto;
}


.card-header {
  max-width: 10rem;
  margin: 1.5rem auto;
  text-align: center;
}

.footer-info {
  margin-top: 3rem;
  padding: 1rem;
  color: #aaa;
  font-style: italic;
  font-size: .825rem;
  text-align: center;
}

.loading-fix {
  margin-top: 9px;
}